@font-face{
	font-family: 'georgia';
	src: url('./fonts/georgia.ttf');
}
body {
	font-family: 'georgia', normal;
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1 {
	margin: 0;
}
p {
	margin: 0;
}
.size {
	box-sizing: border-box;
	padding: 0 130px;
}
.container {
	box-sizing: border-box;
	padding-top: 340px;
	min-height: 100vh;
	background-color: #2d2d2d;
}
.sticky{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	min-height: 121px;
	z-index: 1000;
	background-color: #2d2d2d;
}
.slider {
	min-height: 250px;
	background-color: #202020;
}
.slider-photo{
	box-sizing: border-box;
	position: relative;
	min-height: 150px;
}
ul,
li {
	display: inline;
}
.sticky-nav {
	color: #9b9b9b;
	font-size: 18px;
	width: 30vw;
	margin-top: 50px;
	float: left;
}
.icon-nav {
	margin-top: 50px;
}
.slider-photo img {
	position: absolute;
	min-height: 460px;
	top: -220px;
	left: 0;
	right: 0;
}
.portfolio {
	min-height: 445px;
	background-color: #202020;
}
.welcome {
	text-align: center;
	color: #9b9b9b;
	font-size: 24px;
}
.psevdo::before,
.welcome-sub::before {
	box-sizing: border-box;
	content: '~';
	font-size: 28px;
	position: relative;
	right: 20px;
}
.psevdo::after,
.welcome-sub::after {
	box-sizing: border-box;
	content: '~';
	font-size: 28px;
	position: relative;
	left: 20px;
}
.welcome-sub::before {
	content: '“';
	font-size: 60px;
	right: -10px;
}
.welcome-sub::after {
	content: '„';
	font-size: 60px;
	top: -30px;
	left: -10px;
}
.text p:first-child:before {
	content: url('./img/icon/face.png');
}
.text p:nth-child(2):before {
	content: url('./img/icon/comment.png');
}
.text p:nth-child(3):before {
	content: url('./img/icon/settings.png');
}
.text p::first-line {
	font-size: 29px;
	line-height: 40px;
}
.welcome-sub {
	margin-bottom: 60px;
	font-size: 60px;
}
.text p {
	box-sizing: border-box;
	margin: 0 55px 55px 0;
	width: 22.7vw;
	float: left;
	color: #9b9b9b;
	font-size: 14px;
	line-height: 22px;
}

.image {
	padding-top: 75px;
	min-height: 760px;
}
.contact {
	padding-top: 75px;
	min-height: 625px;
	background-color: #202020;
}
.image-pack {
	width: 40vw;
	min-height: 600px;
	float: left;
}
.image-pack img {
	width: 220px;
	display: inline-block;
	margin: 0 20px 20px 0;
}
.image-click {
	width: 464px;
	min-height: 600px;
	position: relative;
	float: left;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
.hidden-text::after {
	content: url('./img/icon/select-left.png');
	position: absolute;
	left: 22px;
	bottom: 32px;
}
.hidden-text::before {
	content: url('./img/icon/select-right.png');
	position: absolute;
	right: 22px;
	top: 40px;
}
.hidden-text {
	display: inline-block;
	box-sizing: border-box;
	padding: 25px 74px;
	min-width: 461px;
	min-height: 108px;
	position: absolute;
	bottom: 0;
	background-color: black;
	color: #9b9b9b;
	opacity: 0;
}
.hidden-text:hover {
	transition: 1s;
	opacity: 0.7;
}
.contact-form input {
	box-sizing: border-box;
	display: inline-block;
	margin-bottom: 21px;
	padding: 0 43px;
	border: 0;
	display: block;
	width: 459px;
	min-height: 49px;
	color: #9b9b9b;
	font-size: 16px;
}
.contact-form input:first-child {
	background: url('./img/icon/face.png') 20px center;
}
.contact-form input:nth-child(2) {
	background: url('./img/icon/mail.png') 20px center;
}
.contact-form input:nth-child(3) {
	background: url('./img/icon/website.png') 20px center;
}
.contact-form input:first-child,
.contact-form input:nth-child(2),
.contact-form input:nth-child(3) {
	background-repeat: no-repeat;
	background-size: 15px;
	background-color: #282828;
	font-family: 'georgia', normal;
}
textarea {
	box-sizing: border-box;
	margin-bottom: 21px;
	padding: 20px 43px 0;
	border: 0;
	display: block;
	resize: none;
	margin-bottom: 28px;
	width: 459px;
	height: 160px;
	background-color: #282828;
	color: #9b9b9b;
	font-size: 16px;
}
button {
	box-sizing: border-box;
	padding: 0 43px;
	border: 0;
	display: block;
	min-width: 127px;
	min-height: 48px;
	background-color: #282828;
	color: #9b9b9b;
	cursor: pointer;
	font-family: 'georgia', normal;
}
.contact::after {
	content: '';
	display: block;
	clear: both;
}

.contact-form,
.contact-image {
	box-sizing: border-box;
	width: 40vw;
	min-height: 30vh;
	float: left;
	color: #9b9b9b;
}
.author {
	float: left;
	margin: 0 18px 41px 0;
}
.contact-data li {
	display:  block;
}
.contact-data li {
	line-height: 22px;
}
.contact-data li:last-child {
	padding-top: 20px;
}
.sub-contact-data li {
	display: inline-block;
	margin-left: 10px;
	color: #c1c1c1;
}
.footer {
	min-height: 70px;
	background-color: #202020;
}
.copyright {
	min-width: 235px;
	color: #9b9b9b;
	font-size: 12px;
	float: left;
}
.icon {
	box-sizing: border-box;
	width: 120px;
	float: right;
}
.icon li {
	display: inline;
	color: yellow;
	margin-left: 5px;
	cursor: pointer;
}
.icon li a {
	background: no-repeat;
	text-decoration: none;
}
